{# Main #}
{% block main %}
  <div class="page-header" style="background-color: #f7f7f9; margin-top: -15px;">
    <div class="container">
      <h1>
        Showcase<br>
        <small>Demo site for the <a href="https://www.drupal.org/project/ui_patterns" target="_blank">UI Patterns</a> module.</small>
        <a href="https://travis-ci.org/nuvoleweb/ui_patterns/builds" target="_blank"><img src="https://travis-ci.org/nuvoleweb/ui_patterns.svg?branch=8.x-1.x"></a>
        <a href="https://scrutinizer-ci.com/g/nuvoleweb/ui_patterns/?branch=8.x-1.x" target="_blank"><img src="https://scrutinizer-ci.com/g/nuvoleweb/ui_patterns/badges/quality-score.png?b=8.x-1.x"></a>
        <a href='http://ui-patterns.readthedocs.io/en/8.x-1.x/?badge=8.x-1.x'><img src='https://readthedocs.org/projects/ui-patterns/badge/?version=8.x-1.x' alt='Documentation Status' /></a>
      </h1>
    </div>
  </div>

  <div role="main" class="main-container container">
    <div class="row">
      {# Content #}
      <section{{ content_attributes.addClass('col-sm-12') }}>

        {# Action Links #}
        {% if action_links %}
          {% block action_links %}
            <ul class="action-links">{{ action_links }}</ul>
          {% endblock %}
        {% endif %}

        {# Content #}
        {% block content %}
          <a id="main-content"></a>
          <h1 class="page-header">{{ page['#title'] }}</h1>
          {{ page.highlighted }}
          {{ page.content }}
        {% endblock %}
      </section>
    </div>
  </div>
{% endblock %}

<footer class="footer container text-center" role="contentinfo">
  <small class="text-muted">
    Demo site for the <a href="https://www.drupal.org/project/ui_patterns" target="_blank">UI Patterns</a> module.
    Brought to you by <a href="http://nuvole.org" target="_blank">Nuvole</a> and a team of <a href="https://github.com/nuvoleweb/ui_patterns/graphs/contributors" target="_blank">wonderful contributors</a>.
  </small>
</footer>
