{#
/**
 * @file
 * UI Pattern library standalone page, override this in your theme.
 */
#}

{% if pattern is not empty %}

  {{ pattern.meta }}
  {# Rendered pattern preview. #}
  <div class="pattern-preview">
    {% for preview in pattern.previews %}
      {% if preview.meta['#variant'] is not empty %}
        <div class="pattern-preview--{{ preview.meta['#variant'].name }}">
          <h3>{{ preview.meta['#variant'].label }}</h3><hr>
          <p>{{ preview.meta['#variant'].description }}</p>
      {% endif %}
      {{ preview.rendered }}
      {% if preview.meta['#variant'] is not empty %}
          </div>
      {% endif %}
    {% endfor %}
  </div>

{% endif %}
