{#
/**
 * @file
 * UI Pattern variant meta information.
 */
#}

{% if variant is not empty %}
  <table class="pattern-preview__variants pattern-preview__variants--{{ variant.name }}">
    <thead>
    <tr>
      <th>{{ "Variant"|t }}</th>
      <th>{{ "Name"|t }}</th>
      <th>{{ "Description"|t }}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>{{ variant.label }}</td>
      <td><code>{{ variant.name }}</code></td>
      <td>{{ variant.description }}</td>
    </tr>
    </tbody>
  </table>
{% endif %}
