{#
/**
 * @file
 * UI Pattern library standalone page, override this in your theme.
 */
#}

{% if component is not empty %}
<div class="ui_patterns_component">
  {{ include('ui-patterns-component-metadata.html.twig', {'component': component}, with_context = false) }}
  {% if component.variants is defined and component.variants|length > 0 %}
  <div class="ui_patterns_component__variants">
    {% for variant_id, variant in component.variants %}
      <div class="ui_patterns_variant">
      <h2 class="ui_patterns_variant__title">{{ variant.title }} (<code>{{ variant_id }}</code>)</h2>
      {% if variant.description %}
      <p class="ui_patterns_variant__description">{{ variant.description }}</p>
      {% endif %}
      {% for story_id, story in component.stories %}
        <div class="ui_patterns_story">
          <h3 class="ui_patterns_story__title">{{ story.title }}</h3>
          {% if story.description %}
          <p class="ui_patterns_story__description">{{ variant.description }}</p>
          {% endif %}
          {{ component_story(component.id, story_id, {}, {'variant': variant_id}) }}
        </div>
      {% endfor %}
    {% endfor %}
  </div>
   {% else %}
    {% for story_id, story in component.stories %}
      <div class="ui_patterns_story">
        <h3 class="ui_patterns_story__title">{{ story.title }}</h3>
        {% if story.description %}
        <p class="ui_patterns_story__description">{{ story.description }}</p>
        {% endif %}
        {{ component_story(component.id, story_id) }}
      </div>
    {% endfor %}
  {% endif %}
</div>
{% endif %}
