<section class="section section--{{ modifier }} {{ attributes.class }}" {{ attributes|without('class') }}>
  <div class="section-title"> {{ title }} </div>
  <div class="section-content"> {{ content }} </div>
</section>