<div{{ attributes.addClass('card') }}>
  <div class="row g-0">
    <div class="{{ image_col_classes|default('col-md-4') }}">
      {{ image|add_class('img-fluid rounded-start') }}
    </div>
    <div class="{{ content_col_classes|default('col-md-8') }}">
      {% if header %}
      <div class="card-header">
        {{ header }}
      </div>
      {% endif %}
      {{ content }}
      {% if footer %}
      <div class="card-footer">
        {{ footer }}
      </div>
      {% endif %}
    </div>
  </div>
</div>
