{#
/**
 * @file
 * UI Pattern library page template, override this in your theme.
 */
#}

{% if patterns is not empty %}
  <div class="row">

    <div class="col-sm-3">
      {# List of available patterns with anchor links. #}
      <nav class="patterns-sidebar hidden-print hidden-sm hidden-xs affix-top">
        <ul class="nav">
          {% for pattern_name, pattern in patterns %}
            <li>
              <a href="#{{ pattern_name }}">{{ pattern.label }}</a>
            </li>
          {% endfor %}
        </ul>
      </nav>
    </div>

    <div class="col-md-9">
      {% for pattern_name, pattern in patterns %}

      <div class="pattern-row">
        {# Pattern name and desciption. #}
        <a name="{{ pattern_name }}"></a>
        <a href="{{ url('ui_patterns.patterns.single', {'name': pattern.id}) }}" class="btn btn-primary btn-sm pull-right">View {{ pattern.label }} <i class="glyphicon glyphicon-chevron-right"></i></a>
        <h2 class="page-header">{{ pattern.label }}</h2>
        {{ pattern.meta }}

        {# Rendered pattern preview. #}
        <div class="pattern-preview">
          {{ pattern.rendered }}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endif %}



