{#
/**
 * @file
 * UI Pattern meta information.
 */
#}

{% if pattern is not empty %}
  {# Pattern name and desciption. #}
  <h2 class="page-header">{{ pattern.label }}</h2>
  <p class="lead">{{ pattern.description }}</p>

  {# Pattern fields descriptions. #}
  <table class="table table-meta">
    <thead>
    <tr>
      <th>{{ "ID"|t }}</th>
      <th>{{ "Field"|t }}</th>
      <th>{{ "Description"|t }}</th>
    </tr>
    </thead>
    <tbody>
    {% for name, field in pattern.fields %}
      <tr>
        <td><code class="fs4">{{ name }}</code></td>
        <td>{{ field.label }}</td>
        <td>{{ field.description }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endif %}
